TALENT_ID_ENVIRONMENT=local
TALENT_ID_DATABASE_URL=postgresql+psycopg://talent_id:talent_id_local@localhost:5432/talent_id
TALENT_ID_AWS_REGION=us-east-2
TALENT_ID_REKOGNITION_COLLECTION_ID=talent-id-employees
